body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 700px;
}

.canvas {
    width: inherit;
    height: 500px;
    color: white;
    background-color:burlywood;
    position: relative;
}

.stroke {
    font-size: 24px;
    color: white;
}

.buttons__container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 30px;
    position: relative;
}

.button {
    width: 100px;
    height: inherit;
    background-color: darkcyan;
    color: white;
    border-radius: 20%;
    cursor: pointer;
}

.count__box {
    display: flex;
    width: inherit;
    height: 30px;
}

.moves__container {
    width: 50%;
    height: inherit;
    text-align: center;
}

.time__container {
    width: 50%;
    height: inherit;
    text-align: center;
}

.current__size__box {
    width: inherit;
    height: 30px;
    text-align: center;
}

.sizes__box {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 30px;
}

.sizes__choice {
    width: 30%;
    height: inherit;
    text-align: center;
}

.size__instance__3x3 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__4x4 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__5x5 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__6x6 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__7x7 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__8x8 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}