body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow__body {
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 50;
    background: black;
    opacity: 0.5;
    position: absolute;
}

.show__shadow {
    top: 0px;
}

.results__desk {
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: white;
    z-index: 100;
    border-radius: 20px;
    transition: ease-in-out 0.5s;
    top: -300px;
}

.show__results {
    top: 200px;
}

.results__list {
    width: inherit;
    height: inherit;
}

.content__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 540px;
    height: 700px;
}

.canvas {
    width: inherit;
    height: 540px;
    color: white;
    background-color:burlywood;
    position: relative;
}

.stroke {
    font-size: 20px;
    color: white;
}

.buttons__container {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 30px;
    position: relative;
}

.button {
    width: 20%;
    height: inherit;
    background-color: darkcyan;
    color: white;
    border-radius: 20%;
    cursor: pointer;
}

.button:active {
    width: 19%;
    height: 99%;
}

.count__box {
    display: flex;
    width: inherit;
    height: 30px;
}

.moves__container {
    width: 50%;
    height: inherit;
    text-align: center;
}

.time__container {
    width: 50%;
    height: inherit;
    text-align: center;
}

.current__size__box {
    width: inherit;
    height: 30px;
    text-align: center;
}

.sizes__box {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 30px;
}

.sizes__choice {
    width: 30%;
    height: inherit;
    text-align: center;
}

.size__instance__3x3 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__4x4 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__5x5 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__6x6 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__7x7 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.size__instance__8x8 {
    width: 10%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}


/* Media: 768-1280 */

@media (max-width: 1280px) and (min-width: 768px) {

    .content__box {
        width: 460px;
    }

    .canvas {
        width: 460px;
        height: 460px;
    }
}

/* Media: 320-767 */

@media (max-width: 767px) {

    .content__box {
        width: 320px;
    }

    .canvas {
        width: 320px;
        height: 320px;
    }
}


